@using PagedList.Mvc;
@model PagedList.IPagedList<Case.Escola>
@{
	ViewBag.Title = "Escolas";
	var esc = ViewData["Escola"] as Escola;
}

<div class="container">
	<div class="table-wrapper">
		<div class="table-title">
			<div class="row">
				<div class="col-sm-6">
					<h2>Gerenciar <b>Escolas</b></h2>
				</div>
				<div class="col-sm-6">
					@Html.ActionLink("Adicionar Escola", "Create", null, new { id = "showCreate", data_target = "#addEscolaModal", @class = "create btn btn-success", data_toggle = "modal" })
					<button id="showDeleteListEscola" class="btn btn-danger">Excluir</button>
				</div>
			</div>
		</div>
		<div style="overflow-x:auto;">
			<table class="table table-striped table-hover">
				@using (Html.BeginForm("Index", "Escolas", FormMethod.Get))
				{
					<p>
						Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
						<input type="submit" value="Search" class="btn-info" />
					</p>
				}
				<thead>
					<tr>
						<th class="col-sm-1">
							<span class="custom-checkbox">
								<input type="checkbox" id="selectAll">
								<label for="selectAll"></label>
							</span>
						</th>
						<th class="col-sm-2">
							@Html.ActionLink("Escola", "Index", new { sortOrder = ViewBag.EscolaSort, currentFilter = ViewBag.CurrentFilter })
						</th>
						<th class="col-sm-2">
							@Html.ActionLink("Pais", "Index", new { sortOrder = ViewBag.PaisSort, currentFilter = ViewBag.CurrentFilter })
						</th>
						<th class="col-sm-2">
							@Html.ActionLink("Estado", "Index", new { sortOrder = ViewBag.EstadoSort, currentFilter = ViewBag.CurrentFilter })
						</th>
						<th class="col-sm-2">
							@Html.ActionLink("Cidade", "Index", new { sortOrder = ViewBag.CidadeSort, currentFilter = ViewBag.CurrentFilter })
						</th>
						<th class="col-sm-2">
							@Html.ActionLink("Endereço", "Index", new { sortOrder = ViewBag.EnderecoSort, currentFilter = ViewBag.CurrentFilter })
						</th>
						<th class="col-sm-1">Actions</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model)
					{
						<tr>
							<td class="col-sm-1">
								<span class="custom-checkbox">
									<input type="checkbox" id="checkboxes" name="optionsEscola[]" class="checkboxes" value="@item.id_escola">
									<label for="checkboxes"></label>
								</span>
							</td>
							<td class="col-sm-2">
								@Html.DisplayFor(modelItem => item.nome_escola)
							</td>
							<td class="col-sm-2">
								@Html.DisplayFor(modelItem => item.Pais)
							</td>
							<td class="col-sm-2">
								@Html.DisplayFor(modelItem => item.Estado)
							</td>
							<td class="col-sm-2">
								@Html.DisplayFor(modelItem => item.Cidade)
							</td>
							<td class="col-sm-2">
								@Html.DisplayFor(modelItem => item.Endereco)
							</td>
							<td class="col-sm-1">
								@Html.ActionLink("Editar", "Edit", new { id = item.id_escola }, new { id = "showEdit", data_target = "#editEscolaModal", @class = "edit", data_toggle = "modal" })@*<a><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>*@
								@Html.ActionLink("Excluir", "Delete", new { id = item.id_escola }, new { id = "showDelete", data_target = "#deleteEscolaModal", @class = "delete", data_toggle = "modal" })@*<a><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>*@
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>

		Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

		@Html.PagedListPager(Model, page => Url.Action("Index",
		 new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
	</div>

	<!-- Create Modal HTML -->
	<div id='addEscolaModal' class='modal fade'>
		@Html.Partial("~/Views/Escolas/Create.cshtml", esc)
	</div>
	<!-- Edit Modal HTML -->
	<div id='editEscolaModal' class='modal fade'>
		@Html.Partial("~/Views/Escolas/Edit.cshtml", esc)
	</div>
	<!-- Delete Modal HTML -->
	<div id="deleteEscolaModal" class="modal fade">
		@Html.Partial("~/Views/Escolas/Delete.cshtml", esc)
	</div>
	<!-- Error Modal HTML -->
	<div id="multipleDeleteEscolaModal" class="modal fade">
		<div class="modal-dialog" style="margin:auto;">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Erro!</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">
					<p>Essa escola pertence à alguma turma.</p>
				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-danger" data-dismiss="modal" value="Ok">
				</div>
			</div>
		</div>
	</div>
	<!-- Error 2 Modal HTML -->
	<div id="checkEscolas" class="modal fade">
		<div class="modal-dialog" style="margin:auto;">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Erro!</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">
					<p>Selecione uma ou mais Escolas.</p>
				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-danger" data-dismiss="modal" value="Ok">
				</div>
			</div>
		</div>
	</div>
</div>
@section Scripts {
	@Scripts.Render("~/bundles/jqueryval");

}

