@model Case.Turma

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Turma</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Escola.nome_escola)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Escola.nome_escola)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nome_turma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome_turma)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_turma }) |
    @Html.ActionLink("Back to List", "Index")
</p>
