@model IEnumerable<Case.Turma>

@{
    ViewBag.Title = "Turmas";
}

<h2>Turmas</h2>

<p>
    @Html.ActionLink("Criar Turma", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Escola.nome_escola)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nome_turma)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Escola.nome_escola)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nome_turma)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.id_turma }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.id_turma }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.id_turma })
        </td>
    </tr>
}

</table>
