@model IEnumerable<Case.Turma>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Escola.nome_escola)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nome_turma)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Escola.nome_escola)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nome_turma)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_turma }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_turma }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_turma })
        </td>
    </tr>
}

</table>
